html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	box-sizing: border-box;
}

.sample-image {
	max-width: 100%;
}

body {
	font-family: "m-1c", sans-serif;
}

.header {
	background: #ee352a;
	padding-top: 30px;
}

.logo {
	padding-left: 75px;
}

.nav {
	overflow: auto;
	margin-right: 2em;
	margin-top: -100px;
	font-size: 1.2em;
}
	

.nav ul {
	list-style-type: none;
	padding: 0;	
}

.nav li {
	float: right;
	margin-right: 2em;
	padding: 0;
	border-bottom: 0.4em solid transparent;
	font-weight: 200;
}
	
.nav li a:hover {
		border-bottom: 1px solid #fcf8c3;
		text-decoration: none;
	}


.nav a {
	color: #fcf8c3;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 10px;
	
}

.header h1 {
	color: #fcf8c3;
	text-align: center;
	font-size: 4.5em;
	padding-top: 1em;
	font-weight: 200;
}

.starsstripes {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: .4em;
	padding-bottom: 7.5em;
}

.arrow img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subheader {
	background: #fbfae6;
}

.arrow {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.subheader nav ul {
	text-align: center;
	padding: 30px;
}

.subheader nav li {
	color: #ee352a;
	font-weight: 300;
	text-align: center;
	list-style-type: none;
	display: inline-block;
	padding: 40px;
	font-size: 1.2em;
}

.plus {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.discover {
	background-image: url(images/icon-direct.svg) no-repeat;
	overflow: auto;
}

.discover h2{
	text-align: center;
	
}

.quote {
	margin-bottom: 50px;
}
.quote p {
	color: #666;
	text-align: center;
	font-size: 2.5em;
	font-weight: 200;
	margin: 2em 3em;
}

.quote img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
}

.quote h2 {
	color: #ee352a;
	font-weight: 200;
	font-size: 2em;
	text-align: center;
}

.quote h3 {
	margin-top: -20px;
	text-align: center;
	font-weight: 200;
	font-size: 1em;
	color: #666;
}

.quote a {
	font-size: 1em;
	color: #fcf8c3;
	background: #ee352a;
	max-width: 150px;
	text-decoration: none;
	padding: 20px 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 2.5em;
	font-weight: 200;
}

.quote a:hover {
	background: white;
	border: 1px solid #ee352a;
	color: #ee352a;
}

.picturesection img {
	float: left;
}
	
.workwithus {
	color: #ee352a;
	background: #fbfae6;
	overflow: auto;
}

.workwithus h1 {
	font-size: 5em;
	font-weight: 100;
	text-align: center;
}

.workwithus img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 290px;
}



.footer {
	background: #ee352a;
	color: #fcf8c3;
	width: 100%;
}

.top-footer {
	padding-top: 50px;
	padding-bottom: 100px;
	margin-left: 75px;
	margin-right: 75px;
	border-bottom: 2px solid #fcf8c3;
}

.top-footer h1 {
	font-size: 1.5em;
	font-weight: 400;
}

.top-footer p {
	font-weight: 200;
	width: 500px;
	font-size: 1em;
	line-height: 25px;
}

.work a {
	border-bottom: 1px solid #fcf8c3;
	padding-bottom: 8px;
	text-decoration: none;
	color: #fcf8c3;
}

.work a:hover { 
	border-bottom: none;
}

.contact {
	float: right;
	overflow: auto;
	margin-top: -125px;
	
}

.contact li {
	list-style-type: none;
	line-height: 25px;
}

.contact a {
	text-decoration: none;
	padding-left: 20px;
	color: #fcf8c3;
	font-weight: 200;
	font-size: 1em;
}

.contact a:hover {
	color: black;
}

.bottom-footer {
	overflow: auto;
	margin-left: 75px;
	
	
}

.bottom-footer p {
	font-size: .8em;
	font-weight: 200;
	padding-top: 25px;
}

.bottom-footer a {
	text-decoration: none;
	color: #fcf8c3;
}

.bottom-footer a:hover {
	border-bottom: 1px solid #fcf8c3;
}

.bottom-footer h2 {
	font-weight: 200;
	font-size: .9em;
	background: #c02e22;
	width: 250px;
	padding: 15px;
	float: right;
	margin-top: -30px;
}

.bottom-footer img {
	float: right;
	margin-right: 100px;
	margin-left: 15px;
	margin-top: -10px;
	
}
